<p>
  {{fecha | date:"dd/MMMM/yyyy" | uppercase }}
</p>

<div class="container">
  <div class="row">
    <div class="col-10 justify-content-center">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="textoABuscar">
      </div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Autor</th>
            <th>Título</th>
            <th>Año</th>
            <th>Sinopsis</th>
            <th>Sinopsis2</th>
          </tr>
        </thead>
        <tr *ngFor="let libro of libros | filtro:textoABuscar">
          <td>{{libro.autor}}</td>
          <td>{{libro.titulo | uppercase}}</td>
          <td>{{libro.anno}}</td>
          <td>{{libro.sinopsis | reducidor:100:"ver más" }}</td>
          <td>{{libro.sinopsis | reducidorPalabras:20:"..." }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>