<div class="container">
  <div class="row">
    <div class="col-12">
        <button class="btn btn-success" (click)="cargarDatos()">Cargar datos</button>
        <button class="btn btn-warning" (click)="cargarParcial()">Cargar parcial</button>  
    </div>
    
    <form class="col-8" #f="ngForm" (ngSubmit)="grabar()">
      <div class="form-group">
        <input type="text" name="nombre" ngModel class="form-control" placeholder="Nombre Completo" required #nombre="ngModel">
        <span *ngIf="nombre.invalid && nombre.touched">El nombre es requerido</span>
      </div>
      <div class="form-group">
        <input type="text" name="correo" ngModel class="form-control" placeholder="Correo" required email #correo="ngModel">
        <span *ngIf="!correo.valid && correo.touched &&correo.errors.required">El correo es requerido</span>
        <span *ngIf="!correo.valid && correo.touched &&correo.errors.email">El formato es incorrecto</span>
      </div>
      <div class="form-group">
        <input type="password" name="contrasena" ngModel class="form-control" placeholder="Contraseña" required minlength="4" #contrasena="ngModel">
        <span *ngIf="!contrasena.valid && contrasena.touched && contrasena.errors.minlength">Debe tener mínimo 4 caracteres</span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="!f.valid">Grabar</button>
      </div>
    </form>
  </div>
</div>